.logoItem{
    width: 3%;
}

.navBar{
    padding-left: 5%;
    height: 6vh;
    align-items: center;
    font-size: 130%;
  background-color: rgba(0, 0, 0, 0.8);
}
.nav-link{
    color: white;
}
.logoImg{
    padding: 0!important;
    color: white;
    font-size: 125%;
    margin-top: 1%;

}
.nav-link:hover{
    color: darkgray;
}