
<div class="main">
  <app-sideBar></app-sideBar>
<div class="inputs">
<div class="col-12 p-5 d-flex justify-content-center flex-column">
  <div class="col-12 d-flex justify-content-center"><h1 class="NameSyte">Plant Monitoring</h1></div>
  <div class="col-12 d-flex justify-content-center" ><img src="https://i.pinimg.com/originals/e8/3f/71/e83f711cdab79fb8c5fd9a40a3627ecc.png" alt=""></div>
  
</div>

<div class="col-12 d-flex justify-content-center">
<form class="col-4" #myForm="ngForm"  nz-form (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input [(ngModel)]="model.Email" name="Email" nz-input placeholder="Email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input [(ngModel)]="model.Password" name="Password" nz-input type="password" placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control  class=" justify-content-between">
      <button type="submit" class="btn btn-primary m-1" nz-button nzType="primary">Log in</button>
      <button type="button" class="btn btn-primary m-1" nz-button data-toggle="modal" data-target="#myModal">
    Sign Up
  </button>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
  <nz-form-control  class="justify-content-end">
  </nz-form-control>
</nz-form-item>
</form>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title" id="myModalLabel">Registration</h4>
      </div>
      <div class="modal-body">
        
        
        <form class="col-12" #myForm="ngForm" nz-form (ngSubmit)="Register()">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
              <nz-input-group nzPrefixIcon="user">
                <input [(ngModel)]="modelReg.Email" name="Email" nz-input placeholder="Email" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="lock">
                <input [(ngModel)]="modelReg.Password" name="Password" nz-input type="password" placeholder="Password" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="lock">
                <input [(ngModel)]="confirmPassword" name="confirmPassword" nz-input type="password" placeholder="Confirm Password" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
              <nz-input-group nzPrefixIcon="user">
                <input [(ngModel)]="modelReg.FullName" name="FullName" nz-input placeholder="Full Name" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
              <nz-input-group nzPrefixIcon="user">
                <input [(ngModel)]="modelReg.Address" name="Address" nz-input placeholder="Address" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control  class="justify-content-end">
              <button type="submit" nz-button nzType="primary">Register</button>
            </nz-form-control>
          </nz-form-item>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>



</div>
</div>
</div>   