body{
    background-color: wheat!important;
}
canvas{
    height: 100vh!important;
}
.chart10 canvas{
    height: 60vh!important;
}
.jj{
    
}
.ChartsDiagram{
   
    box-shadow: 0px 0px 31px -12px rgba(0,0,0,0.75);
}
.chart canvas{
    width: 60%!important;
    height: 60%!important;
}