<div class="d-flex row">
  <app-sideBar class="col-12"></app-sideBar>
  <div class="flex-item col-12" >
    <h1 class="pl-3 badge badge-secondary">Current Plant: {{currentPlantName}}</h1>
    <div class="chart10" style="display: flex;">
      <div class="col-7 p-4">
    <canvas  baseChart width="400px" height="400px"
                [datasets]="lineChartData10"
                [labels]="lineChartLabels10"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)" class="ChartsDiagram "></canvas> </div>
                  <div class="col-5">
        
      <div>
        <div class="chart d-flex d-flex justify-content-center">
          <canvas baseChart
            [data]="pieChartDataHum"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColors"
            [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
      

      <div>
        <div class="chart d-flex d-flex justify-content-center">
          <canvas baseChart
            [data]="pieChartDataTem"
            [labels]="pieChartLabelsTem"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColors"
            [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>


      <div>
        <div class="chart d-flex d-flex justify-content-center">
          <canvas baseChart
            [data]="pieChartDataWater"
            [labels]="pieChartLabelsWater"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColors"
            [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>

    </div>
    </div>
 
  </div>
 
  <div class="flex-item col-12 p-4">
    <div style="display: flex;">
    <canvas  baseChart width="400px" height="400px"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)" class="ChartsDiagram col-12"></canvas>
    </div>
  </div>
  <h2 class="pl-4 col-4">View Other Your Plants:</h2>
  <select (change)="ShowChart($event.target.value)" class="form-control col-5 pl-2"  id="exampleFormControlSelect1">
    <option *ngFor="let product of userModel.plantNames">{{product}}</option>
  </select>
  
  <h2 class="pl-4 col-5">Add New Plant In Your Account:</h2>
  <form class="col-4 d-flex" #myForm="ngForm" nz-form (ngSubmit)="AddPlant(plantName)">
    <input [(ngModel)]="plantName" name="Plant" nz-input placeholder="Name" />
    <button type="submit" nz-button nzType="primary">Add</button>
    </form>
</div>